@import 'typography', 'colors', 'breakpoints';

body {
    font-family: $font-primary;
}

.navbar-toggler {
    border-color: $cl-transparent !important;
    &:focus {
        outline:0;
        box-shadow: 0;
    }
}

.container {
    max-width: 1300px;
}
.fas {
    color: $cl-greyBC;
}

.ms-n45 {
    margin-left: -2.0rem
}

.circle {
    font-size: 32px;
}

.circle-big {
    font-size: 34px;
    @include breakpoint('768px') {
        font-size: 50px;
    }
    @include breakpoint('992px') {
        font-size: 40px;
    }
    @include breakpoint('1055px') {
        font-size: 50px;
    }
}

.account {
    .link-dark {
        font-size: 16px;
        color: $cl-greyBC;
        @include breakpoint('576px') {
            font-size: 16px;
        }
    }
}

.form {
    @include breakpoint('992px') {
        justify-content: left !important;
    }
}

.form-control {
    &.search {
        color: $cl-grey70;
        font-size: 16px;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $cl-grey71;
        padding-left: 18px;
        &::placeholder {
            color: $cl-greyBC;
        }
    }
}

.logo {
    font-size: 55px;
    font-weight: 600;
    color: $cl-grey6A;
    @include breakpoint('768px') {
        font-size: 65px;
    }
}
  
.navbar {
    position: sticky;
    top: 198px;
    z-index: 10;
    @include breakpoint('768px') {
        top: 215px;
    }
    @include breakpoint('992px') {
        position: unset;
    }
    .nav-item {
        padding: 0 23px;
    }
    .nav-link {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
}

.content {
    @include breakpoint('992px') {
        display: grid;
        grid-template-columns: 72.39% 27.61%;
        max-width: 2770px;
        margin: 0 auto;
    }
    .video-conteiner {
        max-height: 310px;
        @include breakpoint('992px') {
            height: 620px;
            max-height: 620px; 
        }
    }
    .video {
        object-fit: fill;
        height: auto;
        max-height: 310px;
        @include breakpoint('992px') {
            height: 620px;
            max-height: 620px; 
        }
    }
    .after-video {
        display: grid;
        grid-template-columns: 50% 50%;
        @include breakpoint('992px') {
            display: block;
        }
        .first {
            color: $cl-white;
            height: 310px;
            display: flex; 
            align-items: center; 
            padding: 20%;
            background-color: $cl-blue6E;
            h2 {
                font-size: 30px;
                font-weight: 600;
            }
            p {
                font-size: 16px;
            }
            button {
                color: $cl-blue6E;
                font-size: 16px;
                padding: 5px 38px;
                border: 0;
                background-color: $cl-white;
            }
        }
        .second {
            img {
                height: 310px; 
                width: 100%;
            }
        }
    }
}   

.promo {
    padding: 0;
    height: 114px;
    margin-top: -57px;
    z-index: 1;
    margin-bottom: 231px;
    @include breakpoint('992px') {
        margin-bottom: 70px;
    }
    p {
        text-align: center;
        line-height: 114px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
    }
    .bordered {
        border-top: 1px solid $cl-white;
        border-bottom: 1px solid $cl-white;
        @include breakpoint('992px') {
            border-left: 1px solid $cl-white;
            border-right: 1px solid $cl-white;
            border-top: 0;
            border-bottom: 0;
            padding: 0 10%;
        }
    }
    .point-container {
        width: 100%;
        .point {
            border: 25px solid $cl-grey6D;
            border-radius: 50%;
            background-color: $cl-blue6E;
            width: 84px;
            height: 84px;
            margin: -42px auto;
        }
    } 
    .promo-container {
        background-color: $cl-grey6D;
        @include breakpoint('992px') {
            display: flex;
            justify-content: space-evenly;
        }
        
    }
}

.content-lighter {
    background-color: $cl-greyDF;
    height: 858px;
    margin-bottom: 100px;
}